.custom-audio-player {
    display: flex;
    align-items: center;
    gap: 10px;
    border: var(--input-border);
    border-radius: 8px;
    padding: 5px;
    background-color: #1D2025;
    
    &:hover {
      outline: none;
      background-color: var(--input-focus-background);
      border-color: var(--input-focus-border);
      border-radius: 24px;
    }
  
    .delete-button {
      background-color: #DC4A41;
      border: none;
      color: white;
      padding: 15px;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease, border-radius 0.1s ease-in-out, opacity 0.4s;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      
      &:hover {
        background-color: #a32b27;
        
      }
    }
  
    .delete-icon {
      font-size: 20px;
    }
    
    audio {
      width: calc(100% - 60px); // Adjust width to fit nicely with the button
      border-radius: 4px;
      outline: none;
  
      &::-webkit-media-controls-panel {
        background-color: #1D2025;
      }
  
      &::-webkit-media-controls-play-button,
      &::-webkit-media-controls-volume-slider {
        color: #a32b27;

      }
  
      &:focus {
        outline: none;
      }
    }
  }
  