.custom-audio-player {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 5px;
    
    &:hover {
      outline: none;
      background-color: var(--input-focus-background);
      border-color: var(--input-focus-border);
      border-radius: 24px;
    }
  
    .delete-button {
      background-color: #DC4A41;
      border: none;
      color: white;
      padding: 15px;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease, border-radius 0.1s ease-in-out, opacity 0.4s;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      
      &:hover {
        background-color: #a32b27;
        border-radius: 16px;
      }
    }
  
    .delete-icon {
      font-size: 20px;
    }
    
    audio {
      width: 100%;
    }
  }
  