.chat-page-container {
    width: 100%;

    .conversation-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 80px);
        height: calc(100dvh - 80px);

        .messages-container {
            display: flex;
            margin-top: auto;
            flex-direction: column;
            flex-grow: 10000;
            padding: 3%;
            overflow-y: auto;
        
            .message {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: left;
                white-space: normal;
                margin-bottom: 14px;
                border-top: 1px solid var(--blue-color);
                padding: 3%;
                line-height: 2; /* Update the line-height value here */
                overflow-wrap: break-word;

                &:first-child {
                    border-top: 0;
                    padding-top: 0;
                }

                .markdown-render {
                    pre {
                        white-space: pre-wrap;
                        background-color: #000000;
                        border-radius: 14px;
                        padding: 10px;
                    }
                }
            }
        }
        

        .message-input-container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2%;
            gap: 24px;
      
            .prompt-input {
              height: auto;
              max-height: 180px;
              border-radius: 8px;
              resize: none;
            }
      
            .file-input-container { /* New section for file input */
              position: relative;
            }
      
            .file-input { 

              width: 100%;
              height: 15px; /* Adjust height as needed */
              opacity: 0;
              position: absolute;
              top: -40%;
              left: -50%;
              cursor: pointer;
            }

            .mic-input { 

              width: 100%;
              height: 15px; /* Adjust height as needed */
              opacity: 0;
              position: absolute;
              top: -40%;
              right: -50%;
              cursor: pointer;
            }
      
            .file-input-label { /* New section for file input label */
              display: flex;
              align-items: center;
              justify-content: center;
              width: 40px; /* Adjust width as needed */
              height: 40px; /* Adjust height as needed */
              background-color: var(--light-grey-color); /* Adjust color */
              border-radius: 8px;
              cursor: pointer;
            }
      
            .file-input-label svg { /* New section for FiUser icon */
              font-size: 20px; /* Adjust size as needed */
              color: var(--blue-color); /* Adjust color */
            }
         }
     }
      
 }
