/* CSS */
.chat-page-container {
  width: 100%;
  overflow: hidden; /* Suppression du scroll de la page principale */
}

.conversation-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 80px);
  height: calc(100dvh - 80px);
}

.messages-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 3%;
  overflow-y: auto;
  scroll-behavior: smooth; /* Scroll fluide */
}

.messages-container::-webkit-scrollbar {
  width: 8px;
}

.messages-container::-webkit-scrollbar-track {
  background: #1D2025; 
  border-radius: 10px;
}

.messages-container::-webkit-scrollbar-thumb {
  background: #8952E0; 
  border-radius: 10px;
}

.messages-container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  white-space: normal;
  margin-bottom: 14px;
  border-top: var(--light-border);
  padding: 3%;
  line-height: 2;
  overflow-wrap: break-word;
}

.message:first-child {
  border-top: 0;
  padding-top: 0;
}

.markdown-render pre {
  white-space: pre-wrap;
  background-color: #000000;
  border-radius: 14px;
  padding: 10px;
}

.interaction-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 2%;
}

.textarea-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.prompt-input {
  height: auto;
  max-height: 180px;
  border-radius: 8px;
  resize: none;
}

.images-preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  border: var(--input-border);
  border-radius: 12px;
  padding: 15px;
  transition: background-color 0.3s, border-color 0.3s, opacity 0.4s;
}

.images-preview-container:hover {
  outline: none;
  background-color: var(--input-focus-background);
  border-color: var(--input-focus-border);
  border-radius: 24px;
}

.image-wrapper {
  position: relative;
  border-bottom: var(--input-border);
  border-top: var(--input-border);
  border-radius: 12px;
}

.pasted-image {
  max-width: 100px;
  max-height: 100px;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}

.image-hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: rgba(220, 74, 65, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-wrapper:hover .image-hover-overlay {
  opacity: 1;
}

.hover-icon {
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  background: none;
}

.magnify-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.magnify-button:hover {
  transform: scale(1.1);
}

.magnify-icon {
  color: white;
  font-size: 12px;
}

.icons-and-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.icons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  border: var(--input-border);
  border-radius: 12px;
  padding: 15px;
  transition: background-color 0.3s, border-color 0.3s, opacity 0.4s;
}

.icons-container:hover {
  outline: none;
  background-color: var(--input-focus-background);
  border-color: var(--input-focus-border);
  border-radius: 24px;
}

.icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.file-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.icon {
  color: #8952E0;
}

.image-modal {
  background: var(--setup-background);
  border-radius: 8px;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  border: var(--light-border);
  backdrop-filter: blur(10px);
}

.image-modal-overlay {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
}

.close-modal-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #DC4A41;
}

.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DC4A41;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #a32b27;
}

.delete-icon {
  font-size: 20px;
}
