.buttonlogout {
    background-color: #33373D;
    color: var(--white);
    padding: 12px 2px;
    border-radius: 12px;
    font-size: 14px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-between;

  
      &:hover {
        filter: brightness(90%);
        transition: 0.2s;
        background-color: var(--input-focus-background);
        border-color: #8952E0;
        background-color: #8952E0;
        border-radius: 24px;
      }
    }
  
  